In [2]:
class binatang():
  def __init__(self, nama, jenis):
    self.nama=nama
    self.jenis=jenis
  def bersuara(self, suara):
    print(f"{self.nama} bersuara {suara}")

ayam = binatang("udin","jago")

print(ayam.nama)
print(ayam.jenis)

udin
jago

In [1]:
class binatang():
  def lengkap(self, nama, jenis):
    self.nama=nama
    self.jenis=jenis
  def bersuara(self, suara):
    print(f"{self.nama} bersuara {suara}")

ayam = binatang()

ayam.lengkap("udin","jago")

print(ayam.nama)
print(ayam.jenis)

udin
jago

In [12]:
class binatang():
  def __init__(self, nama, jenis):
    self.nama=nama
    self.jenis=jenis
  def bersuara(self, suara):
    print(f"{self.nama} bersuara {suara}")

ayam = binatang("udin","jago")

ayam.bersuara("berkokok")

udin bersuara berkokok

In [2]:
class Karyawan:
    '''Dasar kelas untuk semua karyawan'''
    jumlah_karyawan = 0

    def __init__(self, nama, gaji):
        self.nama = nama
        self.gaji = gaji
        Karyawan.jumlah_karyawan += 1

    def tampilkan_jumlah(self):
        print("Total karyawan:", Karyawan.jumlah_karyawan)

    def tampilkan_profil(self):
        print("Nama :", self.nama)
        print("Gaji :", self.gaji)

# Membuat objek pertama dari kelas Karyawan
karyawan1 = Karyawan("Sarah", 1000000)
# Membuat objek kedua dari kelas Karyawan
karyawan2 = Karyawan("Budi", 2000000)

karyawan1.tampilkan_profil()
karyawan2.tampilkan_profil()
print("Total karyawan :", Karyawan.jumlah_karyawan)

Nama : Sarah
Gaji : 1000000
Nama : Budi
Gaji : 2000000
Total karyawan : 2